<div class="flex flex-col sm:flex-row gap-4 items-center">
  <!-- Page size selection -->
  <div class="flex flex-row">
    <span class="text-primary-content text-sm flex items-center align-middle whitespace-nowrap mr-2">
      Items per page:
    </span>
    <select class="select focus:border-0 min-w-20"
      (change)="onPageSizeChange($event)"
    >
      @for (pageSize of pageSizes(); track $index) {
        <option [value]="pageSize" [selected]="pageSize == selectedPageSize()">
          {{ pageSize }}
        </option>
      }
    </select>
  </div>

  <!-- Page info -->
  <div class="text-sm text-primary-content flex items-center align-middle">
    Page {{ selectedPage() }} of {{ totalPages() }}
  </div>

  <!-- Page navigation -->
  <div class="join">
    <button class="join-item btn hover:bg-primary"
     [disabled]="isFirstPage()" (click)="onFirstPageClick()"
    >
      <i class="bi bi-chevron-double-left"></i>
    </button>
    <button class="join-item btn hover:bg-primary"
      [disabled]="isFirstPage()" (click)="onPreviousPageClick()"
    >
      <i class="bi bi-chevron-left"></i>
    </button>
    <button class="join-item btn hover:bg-primary"
      [disabled]="isLastPage()" (click)="onNextPageClick()"
    >
      <i class="bi bi-chevron-right"></i>
    </button>
    <button class="join-item btn hover:bg-primary"
     [disabled]="isLastPage()" (click)="onLastPageClick()"
    >
      <i class="bi bi-chevron-double-right"></i>
    </button>
  </div>
</div>