@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* 
Semantic format for naming colors
{Role}-{Prominence}-{Interaction}
> Role – describes how the color should be used, such as brand, neutral, error, warning, success.
  For foreground elements like white text on top of brand colors, onbrand, onneutral, onerror, etc is used.
> Prominence – describes how much visual emphasis the color has, typically primary, secondary, tertiary
> Interaction (optional) – describes colors used for specific UI states such as hover or pressed
*/

@theme {
	--color-surface: var(--color-white);

	--color-primary-100: var(--color-white);
	--color-primary-200: var(--color-white);
	--color-primary-300: var(--color-white);
	--color-primary-400: var(--color-white);
	--color-primary-500: var(--color-white);
	--color-primary-600: var(--color-white);
	--color-primary-700: var(--color-white);
	--color-primary-800: var(--color-white);
	--color-primary-900: var(--color-white);
	--color-primary-hover: var(--color-gray-100);
	--color-primary-focus: var(--color-gray-200);
	--color-primary-active: var(--color-blue-600);
	--color-primary-content: var(--color-black);

	--color-secondary-100: var(--color-blue-100);
	--color-secondary-200: var(--color-blue-200);
	--color-secondary-300: var(--color-blue-300);
	--color-secondary-400: var(--color-blue-400);
	--color-secondary-500: var(--color-blue-500);
	--color-secondary-600: var(--color-blue-600);
	--color-secondary-700: var(--color-blue-700);
	--color-secondary-800: var(--color-blue-800);
	--color-secondary-900: var(--color-blue-900);
	--color-secondary-content: var(--color-white);

	/* Table */
	--color-table-header-primary: var(--color-gray-50);
	--color-table-header-primary-content: var(--color-gray-700);
	--color-table-header-primary-content-focus: var(--color-gray-900);

	--color-table-row-primary: var(--color-white);
	--color-table-row-primary-border: var(--color-gray-200);
	--color-table-row-primary-hover: var(--color-gray-50);
	--color-table-row-primary-content-focus: var(--color-gray-900);

	/* Pagination */
	--color-pagination-primary: var(--color-gray-800);
	--color-pagination-primary-border: var(--color-gray-700);
	--color-pagination-primary-hover: var(--color-gray-900);
	--color-pagination-primary-content: var(--color-text-gray-400);
	--color-pagination-primary-content-hover: var(--color-white);

	/* Textbox */
	--color-textbox-primary: var(--color-gray-50);
	--color-textbox-primary-border: var(--color-gray-300);
	--color-textbox-primary-border-focus: var(--color-blue-500);
	--color-textbox-primary-content-placeholder: var(--color-gray-400);

	/* Button */
	--color-button-primary: var(--color-blue-700);
	--color-button-primary-hover: var(--color-blue-800);
}

@variant dark {
	--color-surface: var(--color-gray-900);

	--color-primary-100: var(--color-gray-100);
	--color-primary-200: var(--color-gray-200);
	--color-primary-300: var(--color-gray-300);
	--color-primary-400: var(--color-gray-400);
	--color-primary-500: var(--color-gray-500);
	--color-primary-600: var(--color-gray-600);
	--color-primary-700: var(--color-gray-700);
	--color-primary-800: var(--color-gray-800);
	--color-primary-900: var(--color-gray-900);
	--color-primary-hover: var(--color-gray-600);
	--color-primary-focus: var(--color-gray-600);
	--color-primary-active: var(--color-blue-600);
	--color-primary-content: var(--color-white);

	--color-secondary-100: var(--color-blue-100);
	--color-secondary-200: var(--color-blue-200);
	--color-secondary-300: var(--color-blue-300);
	--color-secondary-400: var(--color-blue-400);
	--color-secondary-500: var(--color-blue-500);
	--color-secondary-600: var(--color-blue-600);
	--color-secondary-700: var(--color-blue-700);
	--color-secondary-800: var(--color-blue-800);
	--color-secondary-900: var(--color-blue-900);
	--color-secondary-content: var(--color-white);

	/* Table */
	--color-table-header-primary: var(--color-gray-700);
	--color-table-header-primary-content: var(--color-gray-400);
	--color-table-header-primary-content-focus: var(--color-white);

	--color-table-row-primary: var(--color-gray-800);
	--color-table-row-primary-border: var(--color-gray-700);
	--color-table-row-primary-hover: var(--color-gray-600);
	--color-table-row-primary-content-focus: var(--color-white);

	/* Pagination */
	--color-pagination-primary: var(--color-gray-800);
	--color-pagination-primary-border: var(--color-gray-700);
	--color-pagination-primary-hover: var(--color-gray-700);
	--color-pagination-primary-content: var(--color-gray-400);
	--color-pagination-primary-content-hover: var(--color-white);

	/* Textbox */
	--color-textbox-primary: var(--color-gray-700);
	--color-textbox-primary-border: var(--color-gray-600);
	--color-textbox-primary-border-focus: var(--color-blue-500);
	--color-textbox-primary-content-placeholder: var(--color-gray-400);

	/* Button */
	--color-button-primary: var(--color-blue-600);
	--color-button-primary-hover: var(--color-blue-700);
}