<nav class="bg-base-100 shadow-sm w-full fixed top-0 z-20">
  <div class="navbar max-w-screen-xl mx-auto p-4 h-18">
    <!-- Logo -->
    <div class="navbar-start">
      <a routerLink=""
         class="flex items-center space-x-3">
        <i class="bi bi-box text-2xl"></i>
        <span class="text-2xl font-semibold whitespace-nowrap">WMS</span>
      </a>
    </div>

    <!-- Desktop Menu -->
    <div class="navbar-end hidden md:flex">
      <ul class="menu menu-horizontal flex-nowrap items-center">
        <li>
          <a routerLink=""
             routerLinkActive="text-primary underline"
             [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
        </li>
        <li>
          <a routerLink="product"
             routerLinkActive="text-primary underline">Product</a>
        </li>
        <li>
          <a routerLink="inventory"
             routerLinkActive="text-primary underline">Inventory</a>
        </li>
        <li>
          <a routerLink="history"
             routerLinkActive="text-primary underline">History</a>
        </li>
        <app-theme-button></app-theme-button>
        <app-notification-button></app-notification-button>
      </ul>
    </div>

    <!-- Mobile Menu -->
    <div class="navbar-end md:hidden">
      <app-theme-button [largeButtonSize]="true"></app-theme-button>
      <app-notification-button [largeButtonSize]="true"></app-notification-button>
      <div class="dropdown dropdown-end">
        <div tabindex="0"
             role="button"
             class="btn btn-ghost">
          <i class="bi bi-list text-2xl"></i>
        </div>
        <ul tabindex="0"
            class="menu menu-md dropdown-content bg-base-100 rounded-box z-1 mt-3 p-2 shadow gap-2">
          <li>
            <a routerLink=""
               routerLinkActive="bg-primary text-primary-content"
               [routerLinkActiveOptions]="{exact:true}"
               onclick="document.activeElement.blur()">Dashboard</a>
          </li>
          <li>
            <a routerLink="product"
               routerLinkActive="bg-primary text-primary-content"
               onclick="document.activeElement.blur()">Product</a>
          </li>
          <li>
            <a routerLink="inventory"
               routerLinkActive="bg-primary text-primary-content"
               onclick="document.activeElement.blur()">Inventory</a>
          </li>
          <li>
            <a routerLink="history"
               routerLinkActive="bg-primary text-primary-content"
               onclick="document.activeElement.blur()">History</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>