<div class="h-full overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  @if (dataSource().length <= 0) {
    <div class="flex items-center justify-center h-full">
      <div class="text-2xl p-10 md:p-0">
        No items to display
      </div>
    </div>
  }
  @else {
    <table class="table table-pin-rows">
      <thead>
        <tr>
          @for (column of tableConfig().columns; track column) {
            @switch (column.columnType) {
              @case ('text') {
                <th scope="col"
                    class="px-6 py-3 whitespace-nowrap"
                    [class.text-primary-content]="sortState().columnProp === column.dataProperty">
                  {{ column.headerName }}
                  @if (column.sortable) {
                    <i class="bi ml-2 cursor-pointer"
                      [ngClass]="styleSortableHeader(column.dataProperty)"
                      (click)="onSortChange(column.dataProperty)">
                    </i>
                  }
                </th>
              }
              @case ('price') {
                <th scope="col"
                    class="px-6 py-3 whitespace-nowrap"
                    [class.text-primary-content]="sortState().columnProp === column.dataProperty">
                  {{ column.headerName }}
                  @if (column.sortable) {
                    <i class="bi ml-2 cursor-pointer"
                      [ngClass]="styleSortableHeader(column.dataProperty)"
                      (click)="onSortChange(column.dataProperty)">
                    </i>
                  }
                </th>
              }
              @case ('image') {
                <th scope="col" class="px-16 py-3">
                  <span class="sr-only">Image</span>
                </th>
              }
            }
          }
          @if (tableConfig().canEdit || tableConfig().canDelete)
          {
            <th scope="col"
                class="px-6 py-3 text-center">
              Action
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (item of dataSource(); track (item.id ? item.id : item)) {
          <tr class="hover:bg-base-300">
            @for (column of tableConfig().columns; track column) {
              @switch (column.columnType) {
                @case ('text') {
                  <td [class]="'px-6 py-4'
                          + (column.noWrap ? ' whitespace-nowrap' : '')
                          + (column.highlighted ? ' text-table-row-primary-content-focus' : '')">
                    {{ column.dataProperty ? item[column.dataProperty] : '' }}
                  </td>
                }
                @case ('price') {
                  <td [class]="'px-6 py-4'
                          + (column.noWrap ? ' whitespace-nowrap' : '')
                          + (column.highlighted ? ' text-table-row-primary-content-focus' : '')">
                    {{ column.dataProperty ? '฿' + (item[column.dataProperty] | number) : '' }}
                  </td>
                }
                @case ('image') {
                  @if (item[column.dataProperty]) {
                    <td class="px-4 w-24">
                      <div class="flex justify-center items-center h-24">
                        <img [src]="item[column.dataProperty]" class="object-contain">
                      </div>
                    </td>
                  } @else {
                    <td class="px-4 w-24">
                      <div class="flex justify-center items-center h-24">
                        <i class="bi bi-card-image text-5xl"></i>
                      </div>
                    </td>
                  }
                }
              }
            }
            @if (tableConfig().canEdit || tableConfig().canDelete) {
              <td class="px-4 py-2">
                <div class="flex flex-row justify-center items-center gap-4">
                  @if (tableConfig().canEdit) {
                  <button class="btn btn-soft btn-info"
                          (click)="onEditClick(item)">Edit</button>
                  }
                  @if (tableConfig().canDelete) {
                    <button class="btn btn-soft btn-error"
                            (click)="onDeleteClick(item)">Delete</button>
                  }
                </div>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  }
</div>