.fade-in-animation {
  animation: fade-in ease-out 0.2s;
}

.fade-out-animation {
  animation: fade-out ease-out 0.2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.95);
  }
}